body {
    background-image: url("../imgs/light_gray_background.jpg");
    /* https://www.freepik.com/author/lifeforstock author of this background image--%> */
    background-repeat: no-repeat;
    background-size: cover;
}

#AdminButton.FooterCss {
    color: #000000;
    text-decoration: none !important;
}
#UserMngmt.FooterCss {
    color: #000000;
    text-decoration: none !important;
}

#AdminButton.FooterCss:hover {
    color: #2b2b2b;
}

#UserMngmt.FooterCss:hover {
    color: #2b2b2b;
}

#TopFooter.container-fluid {
    background: #ffffffff;
}

#BottomFooter.container-fluid {
    background: #ffffffff;
}

.card {
    background-color: #9b9b9b55;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem 0; /* Adjust padding as needed */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem; /* Adjust gap between FAQ items */
}

h3 {
    font-size: 1.125rem; /* Adjust font size */
    font-weight: 700;
    margin-bottom: 1rem;
}

.border-t {
    border-top: 1px solid #ddd; /* Adjust border color */
}

.text-blue-600 {
    color: #3b82f6; /* Adjust answer toggle button color */
}

.hover {
    text-decoration: underline;
}